<%- include('./layouts/header.ejs') %>


    <main>
        <div class="flex justify-center items-center py-20 flex-col">
            TODO List 
            <a href="add-todo">
                <button class="my-2 px-2 py-2 rounded-md bg-orange-700 text-white">Add Todo</button>
            </a>
            <table class="shadow-lg bg-white rounded-lg max-w-1/2">
                <tr class="font-semibold border-b border-slate-400">
                    <td class="px-4  py-2">Id</td>
                    <td class="px-4  py-4">Name</td>
                    <td class="px-4  py-4">Created On</td>
                </tr>
                <% todos.forEach(function(todo){ %>
                    <tr class="font-semibold border-b border-slate-400">
                        <td class="px-4 py-2">
                            <%= todo.id %>
                        </td>
                        <td class="px-4 py-2">
                            <%= todo.name %>
                        </td>
                        <td class="px-4  py-2">
                            <%= todo.created %>
                        </td>
                        <td class="px-4  py-2">
                            <a href="<%= 'delete-todo/'+todo.id  %>">
                                <button class="my-2 px-2 py-2 rounded-md bg-orange-700 text-white">Delete Todo</button>
                            </a>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </div>
    </main>

    <%- include('./layouts/footer.ejs') %>